{{#> layout/base title="Lenses"}}
  {{#*inline "container-layout"}}

    <h1 class="title">{{name}}</h1>
    <ul>
      {{#each lenses}}
        <li>Brand id: {{brand.id}}</li>
        <li>Brand Name: {{brand.name}}</li>
        <li>Name: {{lens.name}}</li>
        <li>{{lens.focal_length_min_value}}{{lens.focal_length_min_unit}}/f{{lens.aperture_max}}
      <hr>
      {{/each}}
    </ul>

  {{/inline}}
{{/layout/base}}
