{{#> base }}
  {{#*inline "container-layout"}}

    <h1>{{name}}</h1>
    <ul>
      {{#each film_stocks}}
        <li>Box name: {{film_stock.box_name}}</li>
        <li>Box speed: {{film_stock.box_speed}}</li>
        <li>Brand id: {{brand.id}}</li>
        <li>Brand Name: {{brand.name}}</li>
        <li>film_format_id: {{film_format.id}}</li>
        <li>film_format designation: {{film_format.designation}}</li>
        <li>film_format stock size: {{film_format.stock_size_value}}{{film_format.stock_size_unit}}</li>
      <hr>
      {{/each}}
    </ul>

  {{/inline}}
{{/base}}
