{{#> base }}
  {{#*inline "layout"}}

    <h1>{{name}}</h1>
    <ul>
      {{#each film_stocks}}
        <li>Box name: {{film_stock.box_name}}</li>
        <li>Box speed: {{film_stock.box_speed}}</li>
        <li>Brand id: {{brand.id}}</li>
        <li>Brand Name: {{brand.name}}</li>
        <li>film_format_id: {{film_stock.film_format_id}}</li>
      <hr>
      {{/each}}
    </ul>

  {{/inline}}
{{/base}}
