{{#> base }}
  {{#*inline "layout"}}

    <h1>{{name}}</h1>
    <ul>
      {{#each items}}
        <li>Box name: {{box_name}}</li>
        <li>Box speed: {{box_speed}}</li>
        <li>brand_id: {{brand_id}}</li>
        <li>film_format_id: {{film_format_id}}</li>
      <hr>
      {{/each}}
    </ul>

  {{/inline}}
{{/base}}
